<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Volver</ion-title>
</ion-toolbar>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Login Successful
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Bienvenido denuevo!!</h1>
    <p>Inicio de sesion correcto! estas identificado:)</p>
    <ion-button expand="full" routerLink="/home">Volver a pagina de inicio</ion-button>
  </div>
</ion-content>


<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-title>Disfruta la home page</ion-title>
  </ion-toolbar>
</ion-footer>