<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Volver</ion-title>
</ion-toolbar>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logeado</ion-title>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

