<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Ingresa tus credenciales</ion-title>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" class="ion-input"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="full" color="light" (click)="moverInput()">Limpiar</ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>ojo!Cuida tu contraseña</ion-title>
  </ion-toolbar>
</ion-footer>