

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/home']" default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title color="danger">
      Inicio de sesion fallido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Oops! algo ocurrio</h1>
    <p>Lo sentimos! Pero las credenciales son incorrectas:(</p>
    <ion-button expand="full" routerLink="/home">Volver a pagina de inicio</ion-button>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title color="danger">Alerta!</ion-title>
  </ion-toolbar>
</ion-footer>