ion-content {
  --ion-background-color: #f8f8f8;

  .ion-text-center {
    text-align: center;
    margin-top: 150px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      color: #555;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    ion-button {
      --background: #007bff;
      --color: #fff;
    }
  }
}

@keyframes slideAndFade {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(50%);
    opacity: 1;
  }
  50%, 75% {
    transform: translateX(0);
    opacity: 0.2;
  }
}

.slide-fade {
  animation: slideAndFade 5s infinite;
}