<ion-header>
  <ion-toolbar>
    <ion-title class="slide-fade">
      Bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Inicia sesion con tu cuenta</h1>
    <p>tambien puedes permanecer en la home page sin logearte</p>
    <div><ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  fill="solid" >Iniciar sesion</ion-button></div>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>Contactanos!</ion-title>
  </ion-toolbar>
</ion-footer>