<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicia sesion para continuar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div></div>
    <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active"  fill="solid" >Iniciar sesion</ion-button>
    
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
